li {
  padding: 5px;
  margin: 5px;
  background: rgb(170, 147, 147);
  align-content: center;
}

h1 {
  align-content: center;
}

h2 {
  align-content: center;
}
.label {
  font-weight: bold;
  align-content: center;
}

.create-update-form {
  align-content: center;
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  align-content: center;
  margin-bottom: 5px;
}

body {
  align-content: center;
}
